<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Services</title>
</head>
<body>
    <h1>Machine Leagning Demo</h1>
    <div id='input-text'></div>
        <textarea name="code-in" id="code-in" cols="30" rows="10"></textarea>
        <button id='submit-button' type="submit">Submit</button>
    </div>

    <div id='output-text'>
        <p>RESPONSE</p>
    </div>

    <script>
        
        const button = document.querySelector('#submit-button');       

        button.addEventListener('click', (e) => {

            const textData = document.querySelector('#code-in').value;
            
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ textIn: textData })
            })
            .then( res => res.json() )
            .then( textOut => textOut )
            .catch( err => {console.log(err)} )
        });

    </script>
</body>
</html>